openapi: 3.1.0
info:
  title: Dynamics 365 Business Central API v2.0
  description: >-
    Modern RESTful API for Microsoft Dynamics 365 Business Central, the cloud
    evolution of Dynamics NAV. Provides a comprehensive set of endpoints for
    managing customers, vendors, items, sales orders, purchase orders, accounts,
    journals, and other business entities. Supports OData query parameters for
    filtering, sorting, and pagination.
  version: '2.0'
  contact:
    name: Microsoft Dynamics Support
    email: bcsupport@microsoft.com
    url: https://dynamics.microsoft.com/support/
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  termsOfService: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
externalDocs:
  description: Business Central API v2.0 Documentation
  url: https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/api-reference/v2.0/
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/{environment}/api/v2.0
  description: Business Central Online (Common Endpoint)
  variables:
    environment:
      default: production
      description: The name of the Business Central environment
- url: https://{server}:{port}/{instance}/api/v2.0
  description: Business Central On-Premises
  variables:
    server:
      default: localhost
      description: The on-premises server hostname
    port:
      default: '7048'
      description: The OData services port
    instance:
      default: BC
      description: The Business Central server instance name
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Customers
  description: Manage customer records
- name: Vendors
  description: Manage vendor records
- name: Items
  description: Manage inventory items
- name: Sales Orders
  description: Manage sales orders and lines
- name: Purchase Orders
  description: Manage purchase orders and lines
- name: Accounts
  description: Manage general ledger accounts
- name: Journals
  description: Manage general journals and journal lines
- name: Companies
  description: Retrieve company information
- name: Employees
  description: Manage employee records
- name: Sales Invoices
  description: Manage sales invoices and lines
- name: Purchase Invoices
  description: Manage purchase invoices and lines
- name: Sales Quotes
  description: Manage sales quotes and lines
- name: Sales Credit Memos
  description: Manage sales credit memos
- name: Purchase Credit Memos
  description: Manage purchase credit memos
- name: Dimensions
  description: Manage dimensions and dimension values
- name: Currency
  description: Manage currencies and exchange rates
- name: Payment Terms
  description: Manage payment terms
- name: Payment Methods
  description: Manage payment methods
- name: Countries/Regions
  description: Manage country and region codes
- name: Item Categories
  description: Manage item categories
- name: Customer Payments
  description: Manage customer payment journals
- name: Vendor Payments
  description: Manage vendor payment journals
paths:
  /companies:
    get:
      summary: List Companies
      description: Returns a list of companies available in the Business Central tenant.
      operationId: listCompanies
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved companies
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
              examples:
                Listcompanies200Example:
                  summary: Default listCompanies 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      systemVersion: example_value
                      name: Example Title
                      displayName: example_value
                      businessProfileId: '500123'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/customers:
    get:
      summary: List Customers
      description: Returns a list of customer objects from the specified company.
      operationId: listCustomers
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
              examples:
                Listcustomers200Example:
                  summary: Default listCustomers 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - '@odata.etag': example_value
                      id: abc123
                      number: example_value
                      displayName: example_value
                      type: Person
                      addressLine1: example_value
                      addressLine2: example_value
                      city: example_value
                      state: example_value
                      country: example_value
                      postalCode: example_value
                      phoneNumber: example_value
                      email: user@example.com
                      website: example_value
                      salespersonCode: example_value
                      balanceDue: 42.5
                      creditLimit: 42.5
                      taxLiable: true
                      taxAreaId: '500123'
                      taxAreaDisplayName: example_value
                      taxRegistrationNumber: example_value
                      currencyId: '500123'
                      currencyCode: example_value
                      paymentTermsId: '500123'
                      shipmentMethodId: '500123'
                      paymentMethodId: '500123'
                      blocked: ' '
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Customer
      description: Creates a new customer object in the specified company.
      operationId: createCustomer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
            examples:
              CreatecustomerRequestExample:
                summary: Default createCustomer request
                x-microcks-default: true
                value:
                  number: example_value
                  displayName: example_value
                  type: Person
                  addressLine1: example_value
                  addressLine2: example_value
                  city: example_value
                  state: example_value
                  country: example_value
                  postalCode: example_value
                  phoneNumber: example_value
                  email: user@example.com
                  website: example_value
                  taxLiable: true
                  taxRegistrationNumber: example_value
                  currencyCode: example_value
                  blocked: ' '
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              examples:
                Createcustomer201Example:
                  summary: Default createCustomer 201 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    type: Person
                    addressLine1: example_value
                    addressLine2: example_value
                    city: example_value
                    state: example_value
                    country: example_value
                    postalCode: example_value
                    phoneNumber: example_value
                    email: user@example.com
                    website: example_value
                    salespersonCode: example_value
                    balanceDue: 42.5
                    creditLimit: 42.5
                    taxLiable: true
                    taxAreaId: '500123'
                    taxAreaDisplayName: example_value
                    taxRegistrationNumber: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    paymentMethodId: '500123'
                    blocked: ' '
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/customers({customer_id}):
    get:
      summary: Get a Customer
      description: Retrieves a specific customer by ID.
      operationId: getCustomer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/customer_id'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              examples:
                Getcustomer200Example:
                  summary: Default getCustomer 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    type: Person
                    addressLine1: example_value
                    addressLine2: example_value
                    city: example_value
                    state: example_value
                    country: example_value
                    postalCode: example_value
                    phoneNumber: example_value
                    email: user@example.com
                    website: example_value
                    salespersonCode: example_value
                    balanceDue: 42.5
                    creditLimit: 42.5
                    taxLiable: true
                    taxAreaId: '500123'
                    taxAreaDisplayName: example_value
                    taxRegistrationNumber: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    paymentMethodId: '500123'
                    blocked: ' '
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Update a Customer
      description: Updates an existing customer object.
      operationId: updateCustomer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/customer_id'
      - $ref: '#/components/parameters/ifMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
            examples:
              UpdatecustomerRequestExample:
                summary: Default updateCustomer request
                x-microcks-default: true
                value:
                  displayName: example_value
                  type: Person
                  addressLine1: example_value
                  addressLine2: example_value
                  city: example_value
                  state: example_value
                  country: example_value
                  postalCode: example_value
                  phoneNumber: example_value
                  email: user@example.com
                  website: example_value
                  taxLiable: true
                  creditLimit: 42.5
                  blocked: ' '
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              examples:
                Updatecustomer200Example:
                  summary: Default updateCustomer 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    type: Person
                    addressLine1: example_value
                    addressLine2: example_value
                    city: example_value
                    state: example_value
                    country: example_value
                    postalCode: example_value
                    phoneNumber: example_value
                    email: user@example.com
                    website: example_value
                    salespersonCode: example_value
                    balanceDue: 42.5
                    creditLimit: 42.5
                    taxLiable: true
                    taxAreaId: '500123'
                    taxAreaDisplayName: example_value
                    taxRegistrationNumber: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    paymentMethodId: '500123'
                    blocked: ' '
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Delete a Customer
      description: Deletes a customer by ID.
      operationId: deleteCustomer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/customer_id'
      responses:
        '204':
          description: Customer deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/vendors:
    get:
      summary: List Vendors
      description: Returns a list of vendor objects from the specified company.
      operationId: listVendors
      tags:
      - Vendors
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved vendors
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vendor'
              examples:
                Listvendors200Example:
                  summary: Default listVendors 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - '@odata.etag': example_value
                      id: abc123
                      number: example_value
                      displayName: example_value
                      addressLine1: example_value
                      addressLine2: example_value
                      city: example_value
                      state: example_value
                      country: example_value
                      postalCode: example_value
                      phoneNumber: example_value
                      email: user@example.com
                      website: example_value
                      taxRegistrationNumber: example_value
                      currencyId: '500123'
                      currencyCode: example_value
                      paymentTermsId: '500123'
                      paymentMethodId: '500123'
                      taxLiable: true
                      blocked: ' '
                      balance: 42.5
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Vendor
      description: Creates a new vendor object in the specified company.
      operationId: createVendor
      tags:
      - Vendors
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorCreate'
            examples:
              CreatevendorRequestExample:
                summary: Default createVendor request
                x-microcks-default: true
                value:
                  number: example_value
                  displayName: example_value
                  addressLine1: example_value
                  addressLine2: example_value
                  city: example_value
                  state: example_value
                  country: example_value
                  postalCode: example_value
                  phoneNumber: example_value
                  email: user@example.com
                  website: example_value
                  taxRegistrationNumber: example_value
                  currencyCode: example_value
                  taxLiable: true
                  blocked: ' '
      responses:
        '201':
          description: Vendor created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
              examples:
                Createvendor201Example:
                  summary: Default createVendor 201 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    addressLine1: example_value
                    addressLine2: example_value
                    city: example_value
                    state: example_value
                    country: example_value
                    postalCode: example_value
                    phoneNumber: example_value
                    email: user@example.com
                    website: example_value
                    taxRegistrationNumber: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    paymentTermsId: '500123'
                    paymentMethodId: '500123'
                    taxLiable: true
                    blocked: ' '
                    balance: 42.5
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/vendors({vendor_id}):
    get:
      summary: Get a Vendor
      description: Retrieves a specific vendor by ID.
      operationId: getVendor
      tags:
      - Vendors
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/vendor_id'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved vendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
              examples:
                Getvendor200Example:
                  summary: Default getVendor 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    addressLine1: example_value
                    addressLine2: example_value
                    city: example_value
                    state: example_value
                    country: example_value
                    postalCode: example_value
                    phoneNumber: example_value
                    email: user@example.com
                    website: example_value
                    taxRegistrationNumber: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    paymentTermsId: '500123'
                    paymentMethodId: '500123'
                    taxLiable: true
                    blocked: ' '
                    balance: 42.5
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Update a Vendor
      description: Updates an existing vendor object.
      operationId: updateVendor
      tags:
      - Vendors
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/vendor_id'
      - $ref: '#/components/parameters/ifMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorUpdate'
            examples:
              UpdatevendorRequestExample:
                summary: Default updateVendor request
                x-microcks-default: true
                value:
                  displayName: example_value
                  addressLine1: example_value
                  addressLine2: example_value
                  city: example_value
                  state: example_value
                  country: example_value
                  postalCode: example_value
                  phoneNumber: example_value
                  email: user@example.com
                  website: example_value
                  taxLiable: true
                  blocked: ' '
      responses:
        '200':
          description: Vendor updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
              examples:
                Updatevendor200Example:
                  summary: Default updateVendor 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    addressLine1: example_value
                    addressLine2: example_value
                    city: example_value
                    state: example_value
                    country: example_value
                    postalCode: example_value
                    phoneNumber: example_value
                    email: user@example.com
                    website: example_value
                    taxRegistrationNumber: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    paymentTermsId: '500123'
                    paymentMethodId: '500123'
                    taxLiable: true
                    blocked: ' '
                    balance: 42.5
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Delete a Vendor
      description: Deletes a vendor by ID.
      operationId: deleteVendor
      tags:
      - Vendors
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/vendor_id'
      responses:
        '204':
          description: Vendor deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/items:
    get:
      summary: List Items
      description: Returns a list of item objects from the specified company.
      operationId: listItems
      tags:
      - Items
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved items
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Item'
              examples:
                Listitems200Example:
                  summary: Default listItems 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - '@odata.etag': example_value
                      id: abc123
                      number: example_value
                      displayName: example_value
                      displayName2: example_value
                      type: Inventory
                      itemCategoryId: '500123'
                      itemCategoryCode: example_value
                      blocked: true
                      gtin: example_value
                      inventory: 42.5
                      unitPrice: 42.5
                      priceIncludesTax: true
                      unitCost: 42.5
                      taxGroupId: '500123'
                      taxGroupCode: example_value
                      baseUnitOfMeasureId: '500123'
                      baseUnitOfMeasureCode: example_value
                      generalProductPostingGroupId: '500123'
                      generalProductPostingGroupCode: example_value
                      inventoryPostingGroupId: '500123'
                      inventoryPostingGroupCode: example_value
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create an Item
      description: Creates a new item object in the specified company.
      operationId: createItem
      tags:
      - Items
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemCreate'
            examples:
              CreateitemRequestExample:
                summary: Default createItem request
                x-microcks-default: true
                value:
                  number: example_value
                  displayName: example_value
                  type: Inventory
                  itemCategoryCode: example_value
                  blocked: true
                  gtin: example_value
                  unitPrice: 42.5
                  unitCost: 42.5
                  taxGroupCode: example_value
                  baseUnitOfMeasureCode: example_value
      responses:
        '201':
          description: Item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
              examples:
                Createitem201Example:
                  summary: Default createItem 201 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    displayName2: example_value
                    type: Inventory
                    itemCategoryId: '500123'
                    itemCategoryCode: example_value
                    blocked: true
                    gtin: example_value
                    inventory: 42.5
                    unitPrice: 42.5
                    priceIncludesTax: true
                    unitCost: 42.5
                    taxGroupId: '500123'
                    taxGroupCode: example_value
                    baseUnitOfMeasureId: '500123'
                    baseUnitOfMeasureCode: example_value
                    generalProductPostingGroupId: '500123'
                    generalProductPostingGroupCode: example_value
                    inventoryPostingGroupId: '500123'
                    inventoryPostingGroupCode: example_value
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/items({item_id}):
    get:
      summary: Get an Item
      description: Retrieves a specific item by ID.
      operationId: getItem
      tags:
      - Items
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/item_id'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
              examples:
                Getitem200Example:
                  summary: Default getItem 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    displayName2: example_value
                    type: Inventory
                    itemCategoryId: '500123'
                    itemCategoryCode: example_value
                    blocked: true
                    gtin: example_value
                    inventory: 42.5
                    unitPrice: 42.5
                    priceIncludesTax: true
                    unitCost: 42.5
                    taxGroupId: '500123'
                    taxGroupCode: example_value
                    baseUnitOfMeasureId: '500123'
                    baseUnitOfMeasureCode: example_value
                    generalProductPostingGroupId: '500123'
                    generalProductPostingGroupCode: example_value
                    inventoryPostingGroupId: '500123'
                    inventoryPostingGroupCode: example_value
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Update an Item
      description: Updates an existing item object.
      operationId: updateItem
      tags:
      - Items
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/item_id'
      - $ref: '#/components/parameters/ifMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemUpdate'
            examples:
              UpdateitemRequestExample:
                summary: Default updateItem request
                x-microcks-default: true
                value:
                  displayName: example_value
                  type: Inventory
                  itemCategoryCode: example_value
                  blocked: true
                  gtin: example_value
                  unitPrice: 42.5
                  unitCost: 42.5
                  taxGroupCode: example_value
                  baseUnitOfMeasureCode: example_value
      responses:
        '200':
          description: Item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
              examples:
                Updateitem200Example:
                  summary: Default updateItem 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    displayName: example_value
                    displayName2: example_value
                    type: Inventory
                    itemCategoryId: '500123'
                    itemCategoryCode: example_value
                    blocked: true
                    gtin: example_value
                    inventory: 42.5
                    unitPrice: 42.5
                    priceIncludesTax: true
                    unitCost: 42.5
                    taxGroupId: '500123'
                    taxGroupCode: example_value
                    baseUnitOfMeasureId: '500123'
                    baseUnitOfMeasureCode: example_value
                    generalProductPostingGroupId: '500123'
                    generalProductPostingGroupCode: example_value
                    inventoryPostingGroupId: '500123'
                    inventoryPostingGroupCode: example_value
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Delete an Item
      description: Deletes an item by ID.
      operationId: deleteItem
      tags:
      - Items
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/item_id'
      responses:
        '204':
          description: Item deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/salesOrders:
    get:
      summary: List Sales Orders
      description: Returns a list of sales order objects from the specified company.
      operationId: listSalesOrders
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved sales orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrder'
              examples:
                Listsalesorders200Example:
                  summary: Default listSalesOrders 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - '@odata.etag': example_value
                      id: abc123
                      number: example_value
                      externalDocumentNumber: example_value
                      orderDate: '2026-01-15'
                      postingDate: '2026-01-15'
                      customerId: '500123'
                      customerNumber: example_value
                      customerName: example_value
                      billToName: example_value
                      billToCustomerId: '500123'
                      billToCustomerNumber: example_value
                      shipToName: example_value
                      shipToContact: example_value
                      sellToAddressLine1: example_value
                      sellToAddressLine2: example_value
                      sellToCity: example_value
                      sellToCountry: example_value
                      sellToState: example_value
                      sellToPostCode: example_value
                      currencyId: '500123'
                      currencyCode: example_value
                      pricesIncludeTax: true
                      paymentTermsId: '500123'
                      shipmentMethodId: '500123'
                      salesperson: example_value
                      requestedDeliveryDate: '2026-01-15'
                      discountAmount: 42.5
                      discountAppliedBeforeTax: true
                      totalAmountExcludingTax: 42.5
                      totalTaxAmount: 42.5
                      totalAmountIncludingTax: 42.5
                      fullyShipped: true
                      status: Draft
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
                      phoneNumber: example_value
                      email: user@example.com
                      salesOrderLines:
                      - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Sales Order
      description: Creates a new sales order in the specified company.
      operationId: createSalesOrder
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderCreate'
            examples:
              CreatesalesorderRequestExample:
                summary: Default createSalesOrder request
                x-microcks-default: true
                value:
                  externalDocumentNumber: example_value
                  orderDate: '2026-01-15'
                  customerId: '500123'
                  customerNumber: example_value
                  currencyCode: example_value
                  pricesIncludeTax: true
                  requestedDeliveryDate: '2026-01-15'
      responses:
        '201':
          description: Sales order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
              examples:
                Createsalesorder201Example:
                  summary: Default createSalesOrder 201 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    externalDocumentNumber: example_value
                    orderDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    customerId: '500123'
                    customerNumber: example_value
                    customerName: example_value
                    billToName: example_value
                    billToCustomerId: '500123'
                    billToCustomerNumber: example_value
                    shipToName: example_value
                    shipToContact: example_value
                    sellToAddressLine1: example_value
                    sellToAddressLine2: example_value
                    sellToCity: example_value
                    sellToCountry: example_value
                    sellToState: example_value
                    sellToPostCode: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    pricesIncludeTax: true
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    salesperson: example_value
                    requestedDeliveryDate: '2026-01-15'
                    discountAmount: 42.5
                    discountAppliedBeforeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    fullyShipped: true
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
                    phoneNumber: example_value
                    email: user@example.com
                    salesOrderLines:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      unitPrice: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      netAmount: 42.5
                      netTaxAmount: 42.5
                      netAmountIncludingTax: 42.5
                      shipmentDate: '2026-01-15'
                      shippedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      shipQuantity: 42.5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/salesOrders({salesOrder_id}):
    get:
      summary: Get a Sales Order
      description: Retrieves a specific sales order by ID.
      operationId: getSalesOrder
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/salesOrder_id'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved sales order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
              examples:
                Getsalesorder200Example:
                  summary: Default getSalesOrder 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    externalDocumentNumber: example_value
                    orderDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    customerId: '500123'
                    customerNumber: example_value
                    customerName: example_value
                    billToName: example_value
                    billToCustomerId: '500123'
                    billToCustomerNumber: example_value
                    shipToName: example_value
                    shipToContact: example_value
                    sellToAddressLine1: example_value
                    sellToAddressLine2: example_value
                    sellToCity: example_value
                    sellToCountry: example_value
                    sellToState: example_value
                    sellToPostCode: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    pricesIncludeTax: true
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    salesperson: example_value
                    requestedDeliveryDate: '2026-01-15'
                    discountAmount: 42.5
                    discountAppliedBeforeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    fullyShipped: true
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
                    phoneNumber: example_value
                    email: user@example.com
                    salesOrderLines:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      unitPrice: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      netAmount: 42.5
                      netTaxAmount: 42.5
                      netAmountIncludingTax: 42.5
                      shipmentDate: '2026-01-15'
                      shippedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      shipQuantity: 42.5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Update a Sales Order
      description: Updates an existing sales order.
      operationId: updateSalesOrder
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/salesOrder_id'
      - $ref: '#/components/parameters/ifMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdate'
            examples:
              UpdatesalesorderRequestExample:
                summary: Default updateSalesOrder request
                x-microcks-default: true
                value:
                  externalDocumentNumber: example_value
                  orderDate: '2026-01-15'
                  customerId: '500123'
                  customerNumber: example_value
                  currencyCode: example_value
                  pricesIncludeTax: true
                  requestedDeliveryDate: '2026-01-15'
      responses:
        '200':
          description: Sales order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
              examples:
                Updatesalesorder200Example:
                  summary: Default updateSalesOrder 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    externalDocumentNumber: example_value
                    orderDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    customerId: '500123'
                    customerNumber: example_value
                    customerName: example_value
                    billToName: example_value
                    billToCustomerId: '500123'
                    billToCustomerNumber: example_value
                    shipToName: example_value
                    shipToContact: example_value
                    sellToAddressLine1: example_value
                    sellToAddressLine2: example_value
                    sellToCity: example_value
                    sellToCountry: example_value
                    sellToState: example_value
                    sellToPostCode: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    pricesIncludeTax: true
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    salesperson: example_value
                    requestedDeliveryDate: '2026-01-15'
                    discountAmount: 42.5
                    discountAppliedBeforeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    fullyShipped: true
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
                    phoneNumber: example_value
                    email: user@example.com
                    salesOrderLines:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      unitPrice: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      netAmount: 42.5
                      netTaxAmount: 42.5
                      netAmountIncludingTax: 42.5
                      shipmentDate: '2026-01-15'
                      shippedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      shipQuantity: 42.5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Delete a Sales Order
      description: Deletes a sales order by ID.
      operationId: deleteSalesOrder
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/salesOrder_id'
      responses:
        '204':
          description: Sales order deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/salesOrders({salesOrder_id})/salesOrderLines:
    get:
      summary: List Sales Order Lines
      description: Returns a list of sales order line items.
      operationId: listSalesOrderLines
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/salesOrder_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved sales order lines
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderLine'
              examples:
                Listsalesorderlines200Example:
                  summary: Default listSalesOrderLines 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      unitPrice: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      netAmount: 42.5
                      netTaxAmount: 42.5
                      netAmountIncludingTax: 42.5
                      shipmentDate: '2026-01-15'
                      shippedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      shipQuantity: 42.5
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/purchaseOrders:
    get:
      summary: List Purchase Orders
      description: Returns a list of purchase order objects from the specified company.
      operationId: listPurchaseOrders
      tags:
      - Purchase Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved purchase orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseOrder'
              examples:
                Listpurchaseorders200Example:
                  summary: Default listPurchaseOrders 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - '@odata.etag': example_value
                      id: abc123
                      number: example_value
                      orderDate: '2026-01-15'
                      postingDate: '2026-01-15'
                      vendorId: '500123'
                      vendorNumber: example_value
                      vendorName: example_value
                      payToName: example_value
                      payToVendorId: '500123'
                      payToVendorNumber: example_value
                      shipToName: example_value
                      shipToContact: example_value
                      buyFromAddressLine1: example_value
                      buyFromAddressLine2: example_value
                      buyFromCity: example_value
                      buyFromCountry: example_value
                      buyFromState: example_value
                      buyFromPostCode: example_value
                      currencyId: '500123'
                      currencyCode: example_value
                      pricesIncludeTax: true
                      paymentTermsId: '500123'
                      shipmentMethodId: '500123'
                      purchaser: example_value
                      requestedReceiptDate: '2026-01-15'
                      discountAmount: 42.5
                      discountAppliedBeforeTax: true
                      totalAmountExcludingTax: 42.5
                      totalTaxAmount: 42.5
                      totalAmountIncludingTax: 42.5
                      fullyReceived: true
                      status: Draft
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
                      purchaseOrderLines:
                      - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Purchase Order
      description: Creates a new purchase order in the specified company.
      operationId: createPurchaseOrder
      tags:
      - Purchase Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderCreate'
            examples:
              CreatepurchaseorderRequestExample:
                summary: Default createPurchaseOrder request
                x-microcks-default: true
                value:
                  orderDate: '2026-01-15'
                  vendorId: '500123'
                  vendorNumber: example_value
                  currencyCode: example_value
                  pricesIncludeTax: true
                  requestedReceiptDate: '2026-01-15'
      responses:
        '201':
          description: Purchase order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
              examples:
                Createpurchaseorder201Example:
                  summary: Default createPurchaseOrder 201 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    orderDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    vendorId: '500123'
                    vendorNumber: example_value
                    vendorName: example_value
                    payToName: example_value
                    payToVendorId: '500123'
                    payToVendorNumber: example_value
                    shipToName: example_value
                    shipToContact: example_value
                    buyFromAddressLine1: example_value
                    buyFromAddressLine2: example_value
                    buyFromCity: example_value
                    buyFromCountry: example_value
                    buyFromState: example_value
                    buyFromPostCode: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    pricesIncludeTax: true
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    purchaser: example_value
                    requestedReceiptDate: '2026-01-15'
                    discountAmount: 42.5
                    discountAppliedBeforeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    fullyReceived: true
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
                    purchaseOrderLines:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      directUnitCost: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      expectedReceiptDate: '2026-01-15'
                      receivedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      receiveQuantity: 42.5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/purchaseOrders({purchaseOrder_id}):
    get:
      summary: Get a Purchase Order
      description: Retrieves a specific purchase order by ID.
      operationId: getPurchaseOrder
      tags:
      - Purchase Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/purchaseOrder_id'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved purchase order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
              examples:
                Getpurchaseorder200Example:
                  summary: Default getPurchaseOrder 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    orderDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    vendorId: '500123'
                    vendorNumber: example_value
                    vendorName: example_value
                    payToName: example_value
                    payToVendorId: '500123'
                    payToVendorNumber: example_value
                    shipToName: example_value
                    shipToContact: example_value
                    buyFromAddressLine1: example_value
                    buyFromAddressLine2: example_value
                    buyFromCity: example_value
                    buyFromCountry: example_value
                    buyFromState: example_value
                    buyFromPostCode: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    pricesIncludeTax: true
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    purchaser: example_value
                    requestedReceiptDate: '2026-01-15'
                    discountAmount: 42.5
                    discountAppliedBeforeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    fullyReceived: true
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
                    purchaseOrderLines:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      directUnitCost: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      expectedReceiptDate: '2026-01-15'
                      receivedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      receiveQuantity: 42.5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Update a Purchase Order
      description: Updates an existing purchase order.
      operationId: updatePurchaseOrder
      tags:
      - Purchase Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/purchaseOrder_id'
      - $ref: '#/components/parameters/ifMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderUpdate'
            examples:
              UpdatepurchaseorderRequestExample:
                summary: Default updatePurchaseOrder request
                x-microcks-default: true
                value:
                  orderDate: '2026-01-15'
                  vendorId: '500123'
                  vendorNumber: example_value
                  currencyCode: example_value
                  pricesIncludeTax: true
                  requestedReceiptDate: '2026-01-15'
      responses:
        '200':
          description: Purchase order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
              examples:
                Updatepurchaseorder200Example:
                  summary: Default updatePurchaseOrder 200 response
                  x-microcks-default: true
                  value:
                    '@odata.etag': example_value
                    id: abc123
                    number: example_value
                    orderDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    vendorId: '500123'
                    vendorNumber: example_value
                    vendorName: example_value
                    payToName: example_value
                    payToVendorId: '500123'
                    payToVendorNumber: example_value
                    shipToName: example_value
                    shipToContact: example_value
                    buyFromAddressLine1: example_value
                    buyFromAddressLine2: example_value
                    buyFromCity: example_value
                    buyFromCountry: example_value
                    buyFromState: example_value
                    buyFromPostCode: example_value
                    currencyId: '500123'
                    currencyCode: example_value
                    pricesIncludeTax: true
                    paymentTermsId: '500123'
                    shipmentMethodId: '500123'
                    purchaser: example_value
                    requestedReceiptDate: '2026-01-15'
                    discountAmount: 42.5
                    discountAppliedBeforeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    fullyReceived: true
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
                    purchaseOrderLines:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      directUnitCost: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      expectedReceiptDate: '2026-01-15'
                      receivedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      receiveQuantity: 42.5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Delete a Purchase Order
      description: Deletes a purchase order by ID.
      operationId: deletePurchaseOrder
      tags:
      - Purchase Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/purchaseOrder_id'
      responses:
        '204':
          description: Purchase order deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/purchaseOrders({purchaseOrder_id})/purchaseOrderLines:
    get:
      summary: List Purchase Order Lines
      description: Returns a list of purchase order line items.
      operationId: listPurchaseOrderLines
      tags:
      - Purchase Orders
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/purchaseOrder_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved purchase order lines
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseOrderLine'
              examples:
                Listpurchaseorderlines200Example:
                  summary: Default listPurchaseOrderLines 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - '@odata.etag': example_value
                      id: abc123
                      documentId: '500123'
                      sequence: 10
                      itemId: '500123'
                      accountId: '500123'
                      lineType: Comment
                      lineObjectNumber: example_value
                      description: A sample description.
                      description2: example_value
                      unitOfMeasureId: '500123'
                      unitOfMeasureCode: example_value
                      quantity: 42.5
                      directUnitCost: 42.5
                      discountAmount: 42.5
                      discountPercent: 42.5
                      discountAppliedBeforeTax: true
                      amountExcludingTax: 42.5
                      taxCode: example_value
                      taxPercent: 42.5
                      totalTaxAmount: 42.5
                      amountIncludingTax: 42.5
                      expectedReceiptDate: '2026-01-15'
                      receivedQuantity: 42.5
                      invoicedQuantity: 42.5
                      invoiceQuantity: 42.5
                      receiveQuantity: 42.5
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/accounts:
    get:
      summary: List Accounts
      description: Returns a list of general ledger account objects.
      operationId: listAccounts
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
              examples:
                Listaccounts200Example:
                  summary: Default listAccounts 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      number: example_value
                      displayName: example_value
                      category: ' '
                      subCategory: example_value
                      blocked: true
                      accountType: Posting
                      directPosting: true
                      netChange: 42.5
                      consolidationTranslationMethod: example_value
                      consolidationDebitAccount: example_value
                      consolidationCreditAccount: example_value
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/accounts({account_id}):
    get:
      summary: Get an Account
      description: Retrieves a specific account by ID.
      operationId: getAccount
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/company_id'
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: '500123'
      responses:
        '200':
          description: Successfully retrieved account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                Getaccount200Example:
                  summary: Default getAccount 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    number: example_value
                    displayName: example_value
                    category: ' '
                    subCategory: example_value
                    blocked: true
                    accountType: Posting
                    directPosting: true
                    netChange: 42.5
                    consolidationTranslationMethod: example_value
                    consolidationDebitAccount: example_value
                    consolidationCreditAccount: example_value
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/generalLedgerEntries:
    get:
      summary: List General Ledger Entries
      description: Returns a list of general ledger entries.
      operationId: listGeneralLedgerEntries
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved general ledger entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/GeneralLedgerEntry'
              examples:
                Listgeneralledgerentries200Example:
                  summary: Default listGeneralLedgerEntries 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      entryNumber: 10
                      postingDate: '2026-01-15'
                      documentNumber: example_value
                      documentType: example_value
                      accountId: '500123'
                      accountNumber: example_value
                      description: A sample description.
                      debitAmount: 42.5
                      creditAmount: 42.5
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/journals:
    get:
      summary: List Journals
      description: Returns a list of journal objects.
      operationId: listJournals
      tags:
      - Journals
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved journals
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Journal'
              examples:
                Listjournals200Example:
                  summary: Default listJournals 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      code: example_value
                      displayName: example_value
                      templateDisplayName: example_value
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
                      balancingAccountId: '500123'
                      balancingAccountNumber: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Journal
      description: Creates a new journal in the specified company.
      operationId: createJournal
      tags:
      - Journals
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalCreate'
            examples:
              CreatejournalRequestExample:
                summary: Default createJournal request
                x-microcks-default: true
                value:
                  code: example_value
                  displayName: example_value
                  templateDisplayName: example_value
      responses:
        '201':
          description: Journal created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
              examples:
                Createjournal201Example:
                  summary: Default createJournal 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    code: example_value
                    displayName: example_value
                    templateDisplayName: example_value
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
                    balancingAccountId: '500123'
                    balancingAccountNumber: example_value
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/journals({journal_id})/journalLines:
    get:
      summary: List Journal Lines
      description: Returns a list of journal line objects for a specific journal.
      operationId: listJournalLines
      tags:
      - Journals
      parameters:
      - $ref: '#/components/parameters/company_id'
      - name: journal_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: '500123'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved journal lines
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/JournalLine'
              examples:
                Listjournallines200Example:
                  summary: Default listJournalLines 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      journalId: '500123'
                      journalDisplayName: example_value
                      lineNumber: 10
                      accountType: G/L Account
                      accountId: '500123'
                      accountNumber: example_value
                      postingDate: '2026-01-15'
                      documentNumber: example_value
                      externalDocumentNumber: example_value
                      amount: 42.5
                      description: A sample description.
                      comment: example_value
                      taxCode: example_value
                      balanceAccountType: example_value
                      balanceAccountNumber: example_value
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/salesInvoices:
    get:
      summary: List Sales Invoices
      description: Returns a list of sales invoice objects.
      operationId: listSalesInvoices
      tags:
      - Sales Invoices
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved sales invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesInvoice'
              examples:
                Listsalesinvoices200Example:
                  summary: Default listSalesInvoices 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      number: example_value
                      externalDocumentNumber: example_value
                      invoiceDate: '2026-01-15'
                      postingDate: '2026-01-15'
                      dueDate: '2026-01-15'
                      customerId: '500123'
                      customerNumber: example_value
                      customerName: example_value
                      currencyCode: example_value
                      pricesIncludeTax: true
                      totalAmountExcludingTax: 42.5
                      totalTaxAmount: 42.5
                      totalAmountIncludingTax: 42.5
                      status: Draft
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Sales Invoice
      description: Creates a new sales invoice in the specified company.
      operationId: createSalesInvoice
      tags:
      - Sales Invoices
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoiceCreate'
            examples:
              CreatesalesinvoiceRequestExample:
                summary: Default createSalesInvoice request
                x-microcks-default: true
                value:
                  externalDocumentNumber: example_value
                  invoiceDate: '2026-01-15'
                  customerId: '500123'
                  customerNumber: example_value
                  currencyCode: example_value
                  pricesIncludeTax: true
      responses:
        '201':
          description: Sales invoice created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoice'
              examples:
                Createsalesinvoice201Example:
                  summary: Default createSalesInvoice 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    number: example_value
                    externalDocumentNumber: example_value
                    invoiceDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    dueDate: '2026-01-15'
                    customerId: '500123'
                    customerNumber: example_value
                    customerName: example_value
                    currencyCode: example_value
                    pricesIncludeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/purchaseInvoices:
    get:
      summary: List Purchase Invoices
      description: Returns a list of purchase invoice objects.
      operationId: listPurchaseInvoices
      tags:
      - Purchase Invoices
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: Successfully retrieved purchase invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseInvoice'
              examples:
                Listpurchaseinvoices200Example:
                  summary: Default listPurchaseInvoices 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      number: example_value
                      invoiceDate: '2026-01-15'
                      postingDate: '2026-01-15'
                      dueDate: '2026-01-15'
                      vendorId: '500123'
                      vendorNumber: example_value
                      vendorName: example_value
                      currencyCode: example_value
                      pricesIncludeTax: true
                      totalAmountExcludingTax: 42.5
                      totalTaxAmount: 42.5
                      totalAmountIncludingTax: 42.5
                      status: Draft
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Purchase Invoice
      description: Creates a new purchase invoice in the specified company.
      operationId: createPurchaseInvoice
      tags:
      - Purchase Invoices
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoiceCreate'
            examples:
              CreatepurchaseinvoiceRequestExample:
                summary: Default createPurchaseInvoice request
                x-microcks-default: true
                value:
                  invoiceDate: '2026-01-15'
                  vendorId: '500123'
                  vendorNumber: example_value
                  currencyCode: example_value
                  pricesIncludeTax: true
      responses:
        '201':
          description: Purchase invoice created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoice'
              examples:
                Createpurchaseinvoice201Example:
                  summary: Default createPurchaseInvoice 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    number: example_value
                    invoiceDate: '2026-01-15'
                    postingDate: '2026-01-15'
                    dueDate: '2026-01-15'
                    vendorId: '500123'
                    vendorNumber: example_value
                    vendorName: example_value
                    currencyCode: example_value
                    pricesIncludeTax: true
                    totalAmountExcludingTax: 42.5
                    totalTaxAmount: 42.5
                    totalAmountIncludingTax: 42.5
                    status: Draft
                    lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/employees:
    get:
      summary: List Employees
      description: Returns a list of employee objects.
      operationId: listEmployees
      tags:
      - Employees
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved employees
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
              examples:
                Listemployees200Example:
                  summary: Default listEmployees 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      number: example_value
                      displayName: example_value
                      givenName: example_value
                      middleName: example_value
                      surname: example_value
                      jobTitle: example_value
                      addressLine1: example_value
                      addressLine2: example_value
                      city: example_value
                      state: example_value
                      country: example_value
                      postalCode: example_value
                      phoneNumber: example_value
                      mobilePhone: example_value
                      email: user@example.com
                      personalEmail: user@example.com
                      employmentDate: '2026-01-15'
                      terminationDate: '2026-01-15'
                      status: Active
                      birthDate: '2026-01-15'
                      statisticsGroupCode: example_value
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/dimensions:
    get:
      summary: List Dimensions
      description: Returns a list of dimension objects.
      operationId: listDimensions
      tags:
      - Dimensions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved dimensions
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
              examples:
                Listdimensions200Example:
                  summary: Default listDimensions 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      code: example_value
                      displayName: example_value
                      lastModifiedDateTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/currencies:
    get:
      summary: List Currencies
      description: Returns a list of currency objects.
      operationId: listCurrencies
      tags:
      - Currency
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Successfully retrieved currencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
              examples:
                Listcurrencies200Example:
                  summary: Default listCurrencies 200 response
[...]
