openapi: 3.1.0
info:
  title: Business Central Administration Center Accounts Support Settings API
  description: REST API for programmatic administration of Dynamics 365 Business Central environments. Enables querying and managing production and sandbox environments, setting up administrative notifications, viewing tenant telemetry, managing apps, scheduling updates, and performing environment operations such as copy, rename, restore, and delete.
  version: '2.28'
  contact:
    name: Microsoft Dynamics Support
    email: bcsupport@microsoft.com
    url: https://dynamics.microsoft.com/support/
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  termsOfService: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://api.businesscentral.dynamics.com/admin/v2.28
  description: Business Central Administration Center
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Support Settings
  description: Manage support settings
paths:
  /applications/{applicationFamily}/environments/{environmentName}/supportSettings:
    get:
      summary: Get Support Settings
      description: Returns the support contact settings for the specified environment.
      operationId: getSupportSettings
      tags:
      - Support Settings
      parameters:
      - $ref: '#/components/parameters/applicationFamily'
      - $ref: '#/components/parameters/environmentName'
      responses:
        '200':
          description: Successfully retrieved support settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportSettings'
              examples:
                Getsupportsettings200Example:
                  summary: Default getSupportSettings 200 response
                  x-microcks-default: true
                  value:
                    appId: '500123'
                    supportUrl: https://www.example.com
                    supportEmail: user@example.com
                    supportPhone: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SupportSettings:
      type: object
      properties:
        appId:
          type: string
          format: uuid
          example: '500123'
        supportUrl:
          type: string
          format: uri
          example: https://www.example.com
        supportEmail:
          type: string
          format: email
          example: user@example.com
        supportPhone:
          type: string
          example: example_value
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: A stable error code describing the type and nature of the error
          example: example_value
        message:
          type: string
          description: A readable description of the error and cause
          example: example_value
        target:
          type: string
          description: Information about what part of the request caused the error
          example: example_value
        extensionData:
          type: object
          description: Additional key/value information about the error
          additionalProperties: true
          example: example_value
        clientError:
          type: array
          description: Nested list of error objects with more details
          items:
            $ref: '#/components/schemas/ErrorResponse'
          example: []
  responses:
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    environmentName:
      name: environmentName
      in: path
      required: true
      description: The name of the environment
      schema:
        type: string
    applicationFamily:
      name: applicationFamily
      in: path
      required: true
      description: The application family (e.g., BusinessCentral)
      schema:
        type: string
        default: BusinessCentral
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Microsoft Entra ID
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Admin APIs
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Admin APIs
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Administration Center API Documentation
  url: https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/administration/administration-center-api
