openapi: 3.1.0
info:
  title: Business Central Administration Center Accounts Update Management API
  description: REST API for programmatic administration of Dynamics 365 Business Central environments. Enables querying and managing production and sandbox environments, setting up administrative notifications, viewing tenant telemetry, managing apps, scheduling updates, and performing environment operations such as copy, rename, restore, and delete.
  version: '2.28'
  contact:
    name: Microsoft Dynamics Support
    email: bcsupport@microsoft.com
    url: https://dynamics.microsoft.com/support/
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  termsOfService: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://api.businesscentral.dynamics.com/admin/v2.28
  description: Business Central Administration Center
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Update Management
  description: Manage environment updates
paths:
  /applications/{applicationFamily}/environments/{environmentName}/settings/upgrade:
    put:
      summary: Set Update Settings
      description: Sets the update window and other update-related settings for the environment.
      operationId: setUpdateSettings
      tags:
      - Update Management
      parameters:
      - $ref: '#/components/parameters/applicationFamily'
      - $ref: '#/components/parameters/environmentName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSettings'
            examples:
              SetupdatesettingsRequestExample:
                summary: Default setUpdateSettings request
                x-microcks-default: true
                value:
                  preferredStartTimeUtc: example_value
                  preferredEndTimeUtc: example_value
      responses:
        '200':
          description: Update settings applied
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /applications/{applicationFamily}/environments/{environmentName}/scheduledUpgrade:
    get:
      summary: Get Scheduled Upgrade
      description: Returns information about any pending scheduled upgrade for the environment.
      operationId: getScheduledUpgrade
      tags:
      - Update Management
      parameters:
      - $ref: '#/components/parameters/applicationFamily'
      - $ref: '#/components/parameters/environmentName'
      responses:
        '200':
          description: Successfully retrieved scheduled upgrade information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledUpgrade'
              examples:
                Getscheduledupgrade200Example:
                  summary: Default getScheduledUpgrade 200 response
                  x-microcks-default: true
                  value:
                    environmentName: example_value
                    upgradeIsScheduled: true
                    scheduledDate: '2026-01-15T10:30:00Z'
                    registeredDate: '2026-01-15T10:30:00Z'
                    targetVersion: example_value
                    canTenantSelectDate: true
                    ignoreUpgradeWindow: true
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    UpdateSettings:
      type: object
      properties:
        preferredStartTimeUtc:
          type: string
          format: time
          description: Preferred start time for the update window (UTC)
          example: example_value
        preferredEndTimeUtc:
          type: string
          format: time
          description: Preferred end time for the update window (UTC)
          example: example_value
    ScheduledUpgrade:
      type: object
      properties:
        environmentName:
          type: string
          example: example_value
        upgradeIsScheduled:
          type: boolean
          example: true
        scheduledDate:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        registeredDate:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        targetVersion:
          type: string
          example: example_value
        canTenantSelectDate:
          type: boolean
          example: true
        ignoreUpgradeWindow:
          type: boolean
          example: true
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: A stable error code describing the type and nature of the error
          example: example_value
        message:
          type: string
          description: A readable description of the error and cause
          example: example_value
        target:
          type: string
          description: Information about what part of the request caused the error
          example: example_value
        extensionData:
          type: object
          description: Additional key/value information about the error
          additionalProperties: true
          example: example_value
        clientError:
          type: array
          description: Nested list of error objects with more details
          items:
            $ref: '#/components/schemas/ErrorResponse'
          example: []
  parameters:
    environmentName:
      name: environmentName
      in: path
      required: true
      description: The name of the environment
      schema:
        type: string
    applicationFamily:
      name: applicationFamily
      in: path
      required: true
      description: The application family (e.g., BusinessCentral)
      schema:
        type: string
        default: BusinessCentral
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Microsoft Entra ID
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Admin APIs
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Admin APIs
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Administration Center API Documentation
  url: https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/administration/administration-center-api
