openapi: 3.1.0
info:
  title: Business Central Administration Center Accounts Environment Settings API
  description: REST API for programmatic administration of Dynamics 365 Business Central environments. Enables querying and managing production and sandbox environments, setting up administrative notifications, viewing tenant telemetry, managing apps, scheduling updates, and performing environment operations such as copy, rename, restore, and delete.
  version: '2.28'
  contact:
    name: Microsoft Dynamics Support
    email: bcsupport@microsoft.com
    url: https://dynamics.microsoft.com/support/
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  termsOfService: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://api.businesscentral.dynamics.com/admin/v2.28
  description: Business Central Administration Center
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Environment Settings
  description: Manage environment settings and configuration
paths:
  /applications/{applicationFamily}/environments/{environmentName}/settings:
    get:
      summary: Get Environment Settings
      description: Returns settings for the specified environment.
      operationId: getEnvironmentSettings
      tags:
      - Environment Settings
      parameters:
      - $ref: '#/components/parameters/applicationFamily'
      - $ref: '#/components/parameters/environmentName'
      responses:
        '200':
          description: Successfully retrieved environment settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSettings'
              examples:
                Getenvironmentsettings200Example:
                  summary: Default getEnvironmentSettings 200 response
                  x-microcks-default: true
                  value:
                    appInsightsKey: example_value
                    updateWindow:
                      preferredStartTimeUtc: example_value
                      preferredEndTimeUtc: example_value
                    securityGroupId: '500123'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /applications/{applicationFamily}/environments/{environmentName}/settings/appInsightsKey:
    post:
      summary: Set Application Insights Key
      description: Sets the Azure Application Insights instrumentation key for the environment.
      operationId: setAppInsightsKey
      tags:
      - Environment Settings
      parameters:
      - $ref: '#/components/parameters/applicationFamily'
      - $ref: '#/components/parameters/environmentName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: The Application Insights instrumentation key
            examples:
              SetappinsightskeyRequestExample:
                summary: Default setAppInsightsKey request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: Key set successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    environmentName:
      name: environmentName
      in: path
      required: true
      description: The name of the environment
      schema:
        type: string
    applicationFamily:
      name: applicationFamily
      in: path
      required: true
      description: The application family (e.g., BusinessCentral)
      schema:
        type: string
        default: BusinessCentral
  schemas:
    EnvironmentSettings:
      type: object
      properties:
        appInsightsKey:
          type: string
          description: Application Insights instrumentation key
          example: example_value
        updateWindow:
          type: object
          properties:
            preferredStartTimeUtc:
              type: string
              format: time
            preferredEndTimeUtc:
              type: string
              format: time
          example: example_value
        securityGroupId:
          type: string
          format: uuid
          description: Security group assigned to the environment
          example: '500123'
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: A stable error code describing the type and nature of the error
          example: example_value
        message:
          type: string
          description: A readable description of the error and cause
          example: example_value
        target:
          type: string
          description: Information about what part of the request caused the error
          example: example_value
        extensionData:
          type: object
          description: Additional key/value information about the error
          additionalProperties: true
          example: example_value
        clientError:
          type: array
          description: Nested list of error objects with more details
          items:
            $ref: '#/components/schemas/ErrorResponse'
          example: []
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Microsoft Entra ID
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Admin APIs
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Admin APIs
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Administration Center API Documentation
  url: https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/administration/administration-center-api
