openapi: 3.2.0
info:
  title: Business Central Automation API v2.0 Features API
  description: API for automating company setup and tenant management in Dynamics 365 Business Central. Supports creating companies, installing and managing extensions, assigning permission sets to users, uploading and applying RapidStart packages, managing user groups and security groups, and activating features programmatically.
  version: '2.0'
  contact:
    name: Microsoft Dynamics Support
    email: bcsupport@microsoft.com
    url: https://dynamics.microsoft.com/support/
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  termsOfService: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/{environment}/api/microsoft/automation/v2.0
  description: Business Central Online Automation API
  variables:
    environment:
      default: production
      description: The name of the Business Central environment
- url: https://{server}:{port}/{instance}/api/microsoft/automation/v2.0
  description: Business Central On-Premises Automation API
  variables:
    server:
      default: localhost
      description: The on-premises server hostname
    port:
      default: '7048'
      description: The OData services port
    instance:
      default: BC
      description: The Business Central server instance name
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Features
  description: Manage feature flags
paths:
  /companies({company_id})/features:
    get:
      summary: List Features
      description: Returns a list of features available in feature management.
      operationId: listFeatures
      tags:
      - Features
      parameters:
      - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          description: Successfully retrieved features
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Feature'
              examples:
                Listfeatures200Example:
                  summary: Default listFeatures 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      displayName: example_value
                      description: A sample description.
                      enabled: true
                      learnMoreUrl: https://www.example.com
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/features({feature_id})/Microsoft.NAV.activate:
    post:
      summary: Activate a Feature
      description: Activates the specified feature.
      operationId: activateFeature
      tags:
      - Features
      parameters:
      - $ref: '#/components/parameters/company_id'
      - name: feature_id
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                updateInBackground:
                  type: boolean
                  default: false
                startDateTime:
                  type: string
                  format: date-time
            examples:
              ActivatefeatureRequestExample:
                summary: Default activateFeature request
                x-microcks-default: true
                value:
                  updateInBackground: true
                  startDateTime: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: Feature activated
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/features({feature_id})/Microsoft.NAV.deactivate:
    post:
      summary: Deactivate a Feature
      description: Deactivates the specified feature.
      operationId: deactivateFeature
      tags:
      - Features
      parameters:
      - $ref: '#/components/parameters/company_id'
      - name: feature_id
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Feature deactivated
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Feature:
      type: object
      properties:
        id:
          type: string
          description: The feature ID
          example: abc123
        displayName:
          type: string
          description: The feature display name
          example: example_value
        description:
          type: string
          description: The feature description
          example: A sample description.
        enabled:
          type: boolean
          description: Whether the feature is enabled
          example: true
        learnMoreUrl:
          type: string
          format: uri
          description: URL to documentation about the feature
          example: https://www.example.com
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          example: example_value
  responses:
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    company_id:
      name: company_id
      in: path
      required: true
      description: The unique identifier of the company
      schema:
        type: string
        format: uuid
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Microsoft Entra ID
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Automation APIs
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Automation APIs
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Automation API Documentation
  url: https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/administration/itpro-introduction-to-automation-apis
