openapi: 3.2.0
info:
  title: Business Central Automation API v2.0 Extensions API
  description: API for automating company setup and tenant management in Dynamics 365 Business Central. Supports creating companies, installing and managing extensions, assigning permission sets to users, uploading and applying RapidStart packages, managing user groups and security groups, and activating features programmatically.
  version: '2.0'
  contact:
    name: Microsoft Dynamics Support
    email: bcsupport@microsoft.com
    url: https://dynamics.microsoft.com/support/
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  termsOfService: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/{environment}/api/microsoft/automation/v2.0
  description: Business Central Online Automation API
  variables:
    environment:
      default: production
      description: The name of the Business Central environment
- url: https://{server}:{port}/{instance}/api/microsoft/automation/v2.0
  description: Business Central On-Premises Automation API
  variables:
    server:
      default: localhost
      description: The on-premises server hostname
    port:
      default: '7048'
      description: The OData services port
    instance:
      default: BC
      description: The Business Central server instance name
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Extensions
  description: Manage installed extensions
paths:
  /companies({company_id})/extensions:
    get:
      summary: List Extensions
      description: Returns a list of extensions published to the tenant.
      operationId: listExtensions
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          description: Successfully retrieved extensions
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Extension'
              examples:
                Listextensions200Example:
                  summary: Default listExtensions 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      packageId: '500123'
                      displayName: example_value
                      publisher: example_value
                      versionMajor: 10
                      versionMinor: 10
                      versionBuild: 10
                      versionRevision: 10
                      isInstalled: true
                      publishedAs: Global
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/extensions({extension_id})/Microsoft.NAV.install:
    post:
      summary: Install an Extension
      description: Installs a published extension on the tenant.
      operationId: installExtension
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/extension_id'
      responses:
        '204':
          description: Extension installation initiated
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/extensions({extension_id})/Microsoft.NAV.uninstall:
    post:
      summary: Uninstall an Extension
      description: Uninstalls an extension from the tenant.
      operationId: uninstallExtension
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/extension_id'
      responses:
        '204':
          description: Extension uninstallation initiated
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/extensions({extension_id})/Microsoft.NAV.uninstallAndDeleteExtensionData:
    post:
      summary: Uninstall and Delete Extension Data
      description: Uninstalls an extension and deletes all data owned by the extension. This action cannot be undone.
      operationId: uninstallAndDeleteExtensionData
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/extension_id'
      responses:
        '204':
          description: Extension uninstallation and data deletion initiated
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies({company_id})/extensions({extension_id})/Microsoft.NAV.unpublish:
    post:
      summary: Unpublish an Extension
      description: Unpublishes an uninstalled extension from the tenant.
      operationId: unpublishExtension
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/extension_id'
      responses:
        '204':
          description: Extension unpublished
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Extension:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The extension ID
          example: abc123
        packageId:
          type: string
          format: uuid
          description: The package ID used for install/uninstall operations
          example: '500123'
        displayName:
          type: string
          description: The extension display name
          example: example_value
        publisher:
          type: string
          description: The extension publisher
          example: example_value
        versionMajor:
          type: integer
          description: Major version number
          example: 10
        versionMinor:
          type: integer
          description: Minor version number
          example: 10
        versionBuild:
          type: integer
          description: Build version number
          example: 10
        versionRevision:
          type: integer
          description: Revision version number
          example: 10
        isInstalled:
          type: boolean
          description: Whether the extension is currently installed
          example: true
        publishedAs:
          type: string
          description: How the extension was published
          enum:
          - Global
          - Dev
          - PTE
          example: Global
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          example: example_value
  parameters:
    extension_id:
      name: extension_id
      in: path
      required: true
      description: The package ID of the extension
      schema:
        type: string
        format: uuid
    company_id:
      name: company_id
      in: path
      required: true
      description: The unique identifier of the company
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Microsoft Entra ID
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Automation APIs
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central Automation APIs
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Automation API Documentation
  url: https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/administration/itpro-introduction-to-automation-apis
